/**/
p.c6 {
    margin-left: 50%
    }
p.c5 {
    margin-left: 10%
    }
p.c4 {
    margin-top: 2em
    }
p.c3 {
    margin-left: 60%;
    font-size: 0.8em
    }
p.c2 {
    font-size: 0.8em;
    text-align: right
    }
/**/